/* You can add custom styles here. */

// @import "plugins/numbered";

blockquote {
    margin: 1rem 0;
    padding: .5rem 1rem .5rem .75rem;
    border-inline-start: .25rem solid var(--gray-200);
    border-radius: .25rem;
}